
Wissance.nOrm/Wissance.nOrm/obj/

Wissance.nOrm/Wissance.nOrm.Tests/obj/

Wissance.nOrm/.idea/

Wissance.nOrm/Wissance.nOrm.MySql.Tests/obj/Debug/

Wissance.nOrm/Wissance.nOrm.MySql.Tests/obj/

Wissance.nOrm/Wissance.nOrm/bin/

Wissance.nOrm/Wissance.nOrm.MySql/bin/

Wissance.nOrm/Wissance.nOrm.MySql/obj/

Wissance.nOrm/Wissance.nOrm.MySql.Tests/bin/

Wissance.nOrm/Wissance.nOrm.Postgres/bin/

Wissance.nOrm/Wissance.nOrm.Postgres/obj/
