
Wissance.nOrm/Wissance.nOrm/obj/

Wissance.nOrm/Wissance.nOrm.Tests/obj/

Wissance.nOrm/.idea/

Wissance.nOrm/Wissance.nOrm.MySql.Tests/obj/Debug/

Wissance.nOrm/Wissance.nOrm.MySql.Tests/obj/

Wissance.nOrm/Wissance.nOrm/bin/

Wissance.nOrm/Wissance.nOrm.MySql/bin/

Wissance.nOrm/Wissance.nOrm.MySql/obj/

Wissance.nOrm/Wissance.nOrm.MySql.Tests/bin/

Wissance.nOrm/Wissance.nOrm.Postgres/bin/

Wissance.nOrm/Wissance.nOrm.Postgres/obj/

Wissance.nOrm/Wissance.nOrm.TestModel/obj/

Wissance.nOrm/Wissance.nOrm.TestModel/bin/

*.user

Wissance.nOrm/Wissance.nOrm.Postgres.Tests/bin/

Wissance.nOrm/Wissance.nOrm.Postgres.Tests/obj/

Wissance.nOrm/Wissance.nOrm.Common.Tests/bin/

Wissance.nOrm/Wissance.nOrm.Common.Tests/obj/

Wissance.nOrm/Wissance.nOrm.SqlServer/bin/

Wissance.nOrm/Wissance.nOrm.SqlServer/obj/

Wissance.nOrm/Wissance.nOrm.SqlServer.Tests/bin/

Wissance.nOrm/Wissance.nOrm.SqlServer.Tests/obj/
